/CAPITAO_TechMarket/build/
/CAPITAO_TechMarket/nbproject/private/
/Scripts DB/Logs/
/nbproject/private/
/build/
/dist/
/"Modeles de donnees"/
/Documentation/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*