<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
    http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <proxies>
    <proxy>
      <id>heg</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>jonathan.capitao@hes.so.ch</username>
      <password>Kalai700.</password>
      <port>proxyhes.etat-ge.ch</port>
      <host>80</host>
    </proxy>
  </proxies>
</settings>